# Below is the log of fetch_artifact and is always removed after a
# successful run of presubmit_uploader.sh. However, it may not be
# deleted if the user interrupts manually(Ctrl+C) until a
# successful run next time.
**/.fetch_artifact2.dat

# Below records the timestamp of last time of running "repo sync".
**/.repo_sync.log
