/external/camera_engine_rkaiq/common/gen_mesh/android/
/external/camera_engine_rkaiq/rkisp2x_tuner/RKISP2x_Tuner_v2.0.3_Alpha_Release.rar
/prebuilts/android-emulator/darwin-x86_64/lib64/qt/lib/libQt5WebEngineCoreAndroidEmu.5.12.1.dylib
/prebuilts/clang/host/linux-x86/profiles/
/prebuilts/jdk/jdk11/darwin-x86/lib/modules
/prebuilts/jdk/jdk11/darwin-x86/lib/server/libjvm.dylib.dSYM/Contents/Resources/
/prebuilts/jdk/jdk11/linux-x86/lib/modules
/prebuilts/jdk/jdk9/darwin-x86/lib/modules
/prebuilts/jdk/jdk9/linux-x86/lib/modules
/prebuilts/misc/common/robolectric/android-all/android-all-10-robolectric-5803371.jar
/prebuilts/misc/common/robolectric/android-all/android-all-8.1.0-robolectric-r4458339.jar
/prebuilts/misc/common/robolectric/android-all/android-all-9-robolectric-4913185-2.jar
/prebuilts/misc/common/robolectric/android-all/android-all-9plus-robolectric-5616371.jar
/prebuilts/misc/common/robolectric/android-all/android-all-Q-robolectric-5415296.jar
/tools/dexter/testdata/expected/large.code_coverage
/tools/dexter/testdata/expected/large.verbose_cfg
/rockdev
/out
/vendor/opengapps/
