@import '~@angular/material/theming';

$blue-theme: (
  50: #e8f0fe,
  100: #d2e3fc,
  200: #a1c2fa,
  300: #7baaf7,
  400: #5e97f6,
  500: #4285f4,
  600: #1a73e8,
  700: #1967d2,
  800: #185abc,
  900: #174ea6,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: #1a73e8,
    100: #1a73e8,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
