typeattribute mediaserver system_writes_vendor_properties_violators;
set_prop(mediaserver, vendor_ebook_prop)
get_prop(mediaserver, vendor_ebook_prop)
