#typeattribute platform_app mlstrustedsubject;
typeattribute platform_app system_writes_vendor_properties_violators;
get_prop(platform_app, vendor_ebook_prop)
set_prop(platform_app, vendor_ebook_prop)
