<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2019 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.tests.stagedinstall" >

    <queries>
        <package android:name="com.android.cts.ctsshim" />
    </queries>

    <application>
        <receiver android:name="com.android.cts.install.lib.LocalIntentSender"
                  android:exported="true" />

        <!-- This activity is necessary to register the test app as the default home activity (i.e.
             to receive SESSION_COMMITTED broadcasts.) -->
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="com.android.tests.stagedinstall.SessionUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_UPDATED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="android.test.runner" />
    </application>


    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="com.android.tests.stagedinstall"
                     android:label="StagedInstall Test"/>
</manifest>
