service vendor.gnss-2-0 /vendor/bin/hw/android.hardware.gnss@2.0-service.ranchu
    interface android.hardware.gnss@2.0::IGnss default
    interface android.hardware.gnss@1.1::IGnss default
    interface android.hardware.gnss@1.0::IGnss default
    class hal
    user gps
    group system gps radio
    oneshot
    disabled
