on property:sys.boot_completed=1
    chown system system /sys/class/devfreq/ff400000.gpu/governor
    chown system system /sys/class/devfreq/ff400000.gpu/min_freq
    chown system system /sys/class/devfreq/ff400000.gpu/max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/target_loads 65

on boot
    chown system system /sys/class/thermal/thermal_zone0/policy
    chown system system /sys/class/thermal/thermal_zone1/policy
    chown system system /sys/class/thermal/thermal_zone2/policy

    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-3

    # reduce schedul time to improve io performance
    write /sys/kernel/debug/sched_features NO_ENERGY_AWARE

on init
    # Increased power consumption and CPU in exchange for memory
    write /proc/sys/vm/swappiness 100
    write /sys/block/zram0/comp_algorithm lz4

    chown system system /sys/system_monitor/system_status
    chmod 0666 /sys/system_monitor/system_status

    chown system system /sys/class/devfreq/dmc/system_status
    chmod 0666 /sys/class/devfreq/dmc/system_status
