*.pyc
*~
*.swp
*.swo
*.swn
*.bak
*.log
*.diff

# /out
# *.sh

# 忽略所有名称是 CVS 的目录.
CVS/
html/
temp/

*.back
# *.rc
*.bin
*.rar
*.bat
*.BAT
*.o
# *.so
*.a
*.ko
*.mod.c
*.cmd
*.mod
*.order

*.jar

*.html
*.vim

temp.*
*.temp
*.dump

