service cifsmanager /system/bin/cifsmanager.sh
     disabled
     oneshot

service startsamba /system/bin/rksmbd
    disabled
    oneshot

on property:sys.rksmbd.start=1
    start startsamba

service stopsamba /system/bin/stopsamba.sh
    disabled
    oneshot

on property:sys.rksmbd.start=0
    start stopsamba
