.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*/build
*/*/build
*/*/*/build
*/*/*/*/build
/out
.externalNativeBuild
.idea
*/out
*/*/out
third_party/*/build
third_party/*/out
.project
.settings/
.classpath/
*/.classpath
*/*/.classpath
*/*/bin
