service vendor.camera-provider-2-6-google /vendor/bin/hw/android.hardware.camera.provider@2.6-service-google-lazy
    interface android.hardware.camera.provider@2.4::ICameraProvider internal/0
    interface android.hardware.camera.provider@2.5::ICameraProvider internal/0
    interface android.hardware.camera.provider@2.6::ICameraProvider internal/0
    oneshot
    disabled
    class hal
    user system
    group system
    capabilities SYS_NICE
    rlimit rtprio 10 10
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/camera-daemon/tasks
