service vendor.light-1-1 /vendor/bin/hw/hardware.google.light@1.1-service
    interface android.hardware.light@2.0::ILight default
    interface hardware.google.light@1.0::ILight default
    interface hardware.google.light@1.1::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical
